body {
	margin: 0;
}
#flashMessage {
	position: absolute;
	opacity: 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	max-width: 90%;
	z-index:100;
	top: 5px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 3px 20px;
	text-align: center;
	color: #888;

	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	-o-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;

}
#flashMessage.visible {
	opacity: 1;
}
#flashMessage.success {
	background-color: rgba(0,255,0,0.7);
	color: #888888
}
#flashMessage.fail {
	background-color: rgba(255,0,0,0.7);
	color: #EEEEEE
}
#flashMessage.alert {
	background-color: rgba(255,136,0,0.7);
	color: #888888
}
#flashMessage.info {
	background-color: rgba(56, 202, 255, 0.7);
	color: #000000
}

/* SideBar */
#sidebar-left {
	overflow: visible !important;
	float: left;
}
#sidebar-left.md-is-open {
	padding-right: 4px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
	min-width: 0 !important;
	max-width: 200px !important;
}
md-sidenav,
md-sidenav > md-content {
	overflow: hidden;
}


#userToolbar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
#userToolbar > md-content {
	background-color: rgba(250, 250, 250, 0);
}
#userToolbar md-fab-toolbar md-toolbar .md-toolbar-tools {
	padding: 0 2px;
	margin-top: 2px;
}
#userToolbar .md-button.md-icon-button {
	width: 56px;
	height: 56px;
}
#userToolbar .svgButton {
	width: 35px;
	height: 35px;
}
#userToolbar .profileButton svg {
	stroke: currentColor;
}
#userToolbar .configButton svg .gear {
	fill: white
}
@keyframes rotateAnimation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg)}
}
#userToolbar .md-fab-action-item button:hover .configButton svg .rotate_here,
#userToolbar .configButton.toolbarOpen svg .rotate_here {
	animation-name: rotateAnimation;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}